.block-collabs {
    @apply row;

    &__title {
        @apply col-span-main;
        @screen md {
            @apply col-start-main-5 col-span-4 text-center text-4xl;
        }
    }

    &__content {
        @apply col-span-main;
    }
}