/*
 * Settings
 *
 * Project-wide re-usable variables
 *
 */

/*
-------------------------
Global spacing
-------------------------
*/
.row {
    @apply grid grid-cols-mobile;
    @apply nm:grid-cols-desktop;
}

.g-px {
    @apply px-4;
    @apply nm:px-12;
}

.g-mb {
    @apply mb-16;
    @apply nm:mb-24;
}
